.cart {
    width: 250px;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #fff;
}

.cart h2 {
    margin: 2rem 0;
}

.cart-total {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(172, 170, 225);
}