.cart {
    width: 250px;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #fff;
}

.cart h2 {
    margin: 2rem 0;
}

.cart-total {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(172, 170, 225);
}

.cart li:hover {
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 950px) {
    .cart {
        position: absolute;
        top: 82px;
        right: 0;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}

@media screen and (max-width: 425px) {
    .cart {
        top: 68px;
    }
}