.header {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 50px;
}

.shoppingCart {
    all: unset;
    cursor: pointer;
}

.shoppingCart img {
    width: 30px;
    margin-right: 0.5rem;
    transition: transform 0.3s;
}

.shoppingCart img:hover {
    transform: scale(1.1);
}

.shoppingCart img:active {
    transform: scale(0.95);
}

.shoppingCart::after {
    font-weight: 600;
    font-size: 1.1rem;
    content: attr(data-count);
    position: absolute;
    right: 5px;
    top: 22.5px;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 1.5rem;
    }

    .logo img {
        width: 30px;
    }
}