.card {
  max-width: 300px;
  margin: auto;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-category {
  background-color: rgb(70 70 118);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.card-btn {
  background-color: lightgrey;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #000;
  cursor: pointer;
}